# --- Java / Maven ---
target/
*.class
*.jar
*.war

# --- Spring Boot ---
*.log
.mvn/

# --- IDE ---
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
*.code-workspace

# --- OS ---
Thumbs.db
Desktop.ini
.DS_Store

# --- Frontend (na przyszłość) ---
node_modules/
dist/
.env
.env.local
